
# MongoDB Atlas / MongoDB connection details
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=maliya_md
SESSION_COLLECTION=wa_sessions
PORT=5000
